.seo-text-top-1{
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    color:$black;
    padding-bottom:30px;
    border-bottom:1px solid $light_gray;
}
.shares-blocks{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    &__block{
        margin: 5px;
        flex-basis: 48%;
        box-sizing: border-box;    
        position: relative;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__discount{
            color:$red;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;        
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: absolute;
            background: $white;
            top:25px;
            right: 25px;
            font-family: FMulB;
        }
        &__desc{
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 17px 20px;
            color:$white;
            height: 80px;
            background: rgba(0,0,0,0.7);
            box-sizing: border-box;    
            text-align: left;
            &__name{
                font-size: 26px;
            }
            &__sub-name{
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .shares-blocks__block {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 500px) {
    .shares-blocks__block__desc__name {
        font-size: 20px;
    }
    .shares-blocks__block__desc__sub-name {
        display: none;
    }
    .shares-blocks__block__desc {
        height: auto;
        padding: 10px;
    }
}