.partners-list{
    display: flex;
    flex-wrap:wrap;
    &__element{
        width: 33.033333%;
        flex-basis: 33.033333%;
        margin-right: 0;
        height: auto;
        img{
            height: auto;
            vertical-align: middle;
        }
    }
    &__wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
    }
    .cartList__element__wrap__img {
        width: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 1060px) {
    .partners-list__element {
        flex-basis: 49%;
    }
}

@media screen and (max-width: 850px) {
    .partners-list__element {
        flex-basis: 100%;
    }
    .partners-list {
        justify-content: center;
    }
}