* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

body {
    font-family: FMulL;
    font-size: $size;
}

button {
    outline: none;
    border: none;
    background: none;
}

input, 
button, 
select, 
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}