/*
-----------------
reset
-----------------
*/
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

body {
    font-family: FMulL;
    font-size: $size;
    -webkit-font-smoothing: antialiased;
}

button {
    outline: none;
    border: none;
    background: none;
}

input, 
button, 
select, 
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    outline: none;
}

b{
    font-family: FMulB;
}
/*
-----------------
container
-----------------
*/
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position:relative;
    box-sizing: border-box;
}
/*
-----------------
buttons
-----------------
*/
.curcleWhiteBtn{
    display: inline-block;
    color:$blue_hover;
    font-size: 20px;
    font-family: FMulB;
    border-radius: 30px;
    background: #fff;
    margin:0px 5px;
    line-height: 30px;
    padding: 10px 30px;
    max-width: 220px;
    transition: all 0.3s ease;
    &:hover{
        color:$white;
        background:$blue_hover;
    }
}
.curcleTransBtn{
    display: inline-block;
    font-size: 20px;
    background: transparent;
    font-family: FMulB;
    border-radius: 30px;
    margin:0px 5px;
    line-height: 30px;
    padding: 10px 30px;
    max-width: 220px;
    border:1px solid $white;
    color:$white;
    transition: all 0.3s ease;
    &:hover{
        background:$blue_hover;
        border:1px solid $blue_hover;
    }
}
.blue_btn{
    display: inline-block;
    vertical-align: middle;
    background: $blue;
    width: 100%;
    padding:10px 18px;
    text-align: center;
    box-sizing: border-box;
    color:$white;
    transition:all 0.3s ease;
    &:hover{
        background: $blue_hover;
    }
}
.btn_success{
    padding: 8px 10px;
    text-align: center;
    color:$white;
    font-size: 13px;
    background: $green;
    border:1px solid $green;
    transition:all 0.3s ease;
    &:hover{
        background: $light_blue;
        border:1px solid $black;
    }
    cursor:pointer;
}
.btn_clear{
    padding:8px 10px;
    text-align: center;
    color:$black;
    font-size: 13px;
    background: $white;
    border:1px solid $gray;
    transition:all 0.3s ease;
    &:hover{
        background: $gray;
    }
    cursor:pointer;
}
/*
-----------------
swiper modification
-----------------
*/
.swiper-scrollbar{
    background: none;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: $orange;
    margin-right: 15px;
    box-shadow: 0 0 0px 5px rgba(255, 89, 29, 0.6);
    &:last-child{
        margin-right: 0;
    }
}
/*
-----------------
left menu on catalog
-----------------
*/
.left-menu{
    margin-bottom: 25px;
    &__list{
        width: 100%;
        &__element{
            font-size: 12px;
            text-transform: uppercase;
            padding:10px 0;
            border-bottom: 1px solid $gray;
            &:last-child{
                border-bottom:none;
            }
            .active{
                &__link{
                    color:$gray;
                }
            }
            &__link{
                font-family: FMulM;
                color:$black;
                line-height: 17px;
                transition: all 0.2s ease;
                &:hover{
                    color:$gray;
                }
            }
            &__arrow{
                width: 20px;
                height: 20px;
                background: $gray;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;   
                transition: all 0.2s ease;
                &:hover{
                    background: $gray - 50;
                }
            }
        }
    }
}
.lift-menu__list__element__wrap{
    display: flex;
    justify-content: space-between;
}
.left-sub-menu{
    display: none;
    width: 100%;
    &__list{
        margin-top: 10px;
        padding-top: 10px;
        padding-left: 20px;
        font-size: 14px;
        font-family: FMulM;
        line-height: 14px; 
        border-top: $gray 1px dotted;
        &__element{
            padding:5px 0px;
            &__link{
                text-transform: none;
                transition: all 0.2s ease;
                &:hover{
                    color:$gray;
                }
            }
        }
    }
}
/*
-----------------
grid two columbs
-----------------
*/
.grid-two-col{
    display: flex;
    margin-bottom: 60px;
    &__left{
        flex-basis: 264px;
        min-width: 264px;
        margin-right: 50px;
    }
    &__right{
        margin-top: 5px;
        width: 100%;
    }
}
.content{
    font-size: 15px;
    line-height: 22px;
}
.full-width{
    width: 100%;
}
.alert{
    padding: 20px 20px 20px 70px;
    margin:20px 0px;
    color:$black;
    border-radius:3px;
    position: relative;
    &:before{
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        top:20px;
        left:15px;
        font-size: 43px;
        color:$white;
    }
    &__error{
        background: $alert_error;
        &:before{
            content:"\f06a";
        }
    }
    &__info{
        background: $alert_info;
        &:before{
            content:"\f05a";
        }
    }
    &__success{
        background: $alert_success;
        &:before{
            content:"\f1d8";
        }
    }
}
ul:not([class]){
    margin: 15px 0px 0px 40px;
    list-style: none;
    li{
        line-height: 16pt;
        margin-bottom: 8px;
        &:before{
            content: "\f105";
            font: normal normal normal 14px/1 FontAwesome;
            padding: 2px 7px 0 0;
        }
    }
}
table:not([class]){
    width: 100%;
    max-width: 100%;
    margin-bottom: 21px;
    border-spacing:0px;
    tr{
        &:nth-child(2n+1){
            background: $filter;
        }
        td{
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid gray;
        }
        th{
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid gray;
            text-align: left;
            font-family: FMulB;
        }
    }
}

.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    input:checked + .checkbox {
        border-color: $blue;
        svg path {
            fill: $blue;
        }
        svg polyline {
            stroke-dashoffset: 0;
        }
    }
    &:hover {
        .checkbox svg path {
            stroke-dashoffset: 0;
        }
    }
    .checkbox {
        position: relative;
        top: 2px;
        float: left;
        margin-right: 8px;
        width: 10px;
        height: 10px;
        border: 2px solid #C8CCD4;
        border-radius: 3px;
        svg {
            position: absolute;
            top: -2px;
            left: -2px;
            path {
                fill: none;
                stroke: #20C2E0;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 71px;
                stroke-dashoffset: 71px;
                transition: all 0.6s ease;
            }
            polyline {
                fill: none;
                stroke: #FFF;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 18px;
                stroke-dashoffset: 18px;
                transition: all 0.3s ease;
            }
        }
    }
    > span {
        pointer-events: none;
        vertical-align: middle;
    }
}
.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
.cntr {
    margin-bottom: 20px;
}
.blockSendOrder__btn {
    cursor: pointer;
}
.w250{
    width: 250px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 95%;
    }
}