/*
-----------------
reset
-----------------
*/
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

body {
    font-family: FMulL;
    font-size: $size;
    -webkit-font-smoothing: antialiased;
}

button {
    outline: none;
    border: none;
    background: none;
}

input, 
button, 
select, 
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
/*
-----------------
container
-----------------
*/
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position:relative;
}
/*
-----------------
buttons
-----------------
*/
.curcleWhiteBtn{
    display: inline-block;
    color:$blue_hover;
    font-size: 20px;
    font-family: FMulB;
    border-radius: 30px;
    background: #fff;
    margin:0px 5px;
    line-height: 30px;
    padding: 10px 30px;
    max-width: 220px;
    transition: all 0.3s ease;
    &:hover{
        color:$white;
        background:$blue_hover;
    }
}
.curcleTransBtn{
    display: inline-block;
    font-size: 20px;
    background: transparent;
    font-family: FMulB;
    border-radius: 30px;
    margin:0px 5px;
    line-height: 30px;
    padding: 10px 30px;
    max-width: 220px;
    border:1px solid $white;
    color:$white;
    transition: all 0.3s ease;
    &:hover{
        background:$blue_hover;
        border:1px solid $blue_hover;
    }
}
.blue_btn{
    display: inline-block;
    vertical-align: middle;
    background: $blue;
    width: 100%;
    padding:10px 18px;
    text-align: center;
    box-sizing: border-box;
    color:$white;
    transition:all 0.3s ease;
    &:hover{
        background: $blue_hover;
    }
}
.btn_success{
    padding:5px 10px;
    text-align: center;
    color:$white;
    font-size: 13px;
    background: $green;
    border:1px solid $green;
    transition:all 0.3s ease;
    &:hover{
        background: $light_blue;
        border:1px solid $black;
    }
    cursor:pointer;
}
.btn_clear{
    padding:8px 10px;
    text-align: center;
    color:$black;
    font-size: 13px;
    background: $white;
    border:1px solid $gray;
    transition:all 0.3s ease;
    &:hover{
        background: $gray;
    }
    cursor:pointer;
}
/*
-----------------
swiper modification
-----------------
*/
.swiper-scrollbar{
    background: none;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: yellow;
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
}
/*
-----------------
left menu on catalog
-----------------
*/
.left-menu{
    margin-bottom: 25px;
    &__list{
        width: 100%;
        &__element{
            font-size: 12px;
            text-transform: uppercase;
            padding:10px 0;
            border-bottom: 1px solid $gray;
            &:last-child{
                border-bottom:none;
            }
            .active{
                &__link{
                    color:$gray;
                }
            }
            &__link{
                font-family: FMulM;
                color:$black;
                line-height: 17px;
                transition: all 0.2s ease;
                &:hover{
                    color:$gray;
                }
            }
            &__arrow{
                width: 20px;
                height: 20px;
                background: $gray;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;   
                transition: all 0.2s ease;
                &:hover{
                    background: $gray - 50;
                }
            }
        }
    }
}
.lift-menu__list__element__wrap{
    display: flex;
    justify-content: space-between;
}
.left-sub-menu{
    display: none;
    width: 100%;
    &__list{
        margin-top: 10px;
        padding-top: 10px;
        padding-left: 20px;
        font-size: 14px;
        font-family: FMulM;
        line-height: 14px; 
        border-top: $gray 1px dotted;
        &__element{
            padding:5px 0px;
            &__link{
                text-transform: none;
                transition: all 0.2s ease;
                &:hover{
                    color:$gray;
                }
            }
        }
    }
}
/*
-----------------
grid two columbs
-----------------
*/
.grid-two-col{
    display: flex;
    margin-bottom: 60px;
    &__left{
        flex-basis: 264px;
        min-width: 264px;
        margin-right: 50px;
    }
    &__right{
        margin-top: 5px;
        width: 100%;
    }
}