$black: #000;
$black_light: #333333;
$black_footer:#202020;
$white: #fff;
$blue: #1b1465;
$light_blue:#1c94c4;
$blue_hover: $blue + 50;
$orange: #f15927;
$gray: #ccc;
$light_gray:#e8e8e8;
$bg_gray:#ebebeb;
$overlay:rgba(77, 70, 151, 0.87);
$title-wrap:rgba(0,0,0, .03);
$breadcrumbs: #939393;
$size: 14px;

@font-face {
    font-family: FMulM;
    src: url('../fonts/fontfabric - mullermedium.otf');
}

@font-face {
    font-family: FMulB;
    src: url('../fonts/fontfabric - mullerbold.otf');
}

@font-face {
    font-family: FMulL;
    src: url('../fonts/fontfabric - mullerlight.otf');
}