.left-description{
    font-size: 15px;
    line-height: 22px;
    color:$black;
}
.seo-text-top{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 40px;
}
.catalog-section{
    &__list{
        display: flex;
        flex-wrap: wrap;
        &__element{
            max-width: 263px;
            flex-basis: 263px;
            margin-bottom: 30px;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
    }
}

.our-works {
    &__element {
        flex-basis: 49%;
        max-width: 50%;
        margin-right: 0;
        margin-bottom: 10px;
        height: auto;
    }
}