.shares-item{
    padding-right:150px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 60px;
    p{
        margin-bottom: 15px;
    }
    &__discount{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right:0px;
        top:0px;
        width: 100px;
        height: 100px;
        border-radius:50%;
        background: $red;
        color:$white;
        font-size: 34px;
        text-align: center;
        font-family: FMulM;
    }
    &__img{
        max-width: 400px;
        float:left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    &__back{
        display: block;
        margin-top: 60px;
        font-size: 15px;
        color:$blue;
    }
}

@media screen and (max-width: 950px) {
    .shares-item__img {
        max-width: 100%;
        float: unset;
        display: block;
        margin: 0 auto 20px;
    }
    .shares-item {
        padding: 0;
        margin-bottom: 30px;
    }
    .shares-item__back {
        margin-top: 30px;
    }
}