.detail-slider{
    width: 100%;
    margin-bottom: 30px;
    max-height: 400px;
    position: relative;
    &__swiper{
        &__slide{
            height: 400px;
            text-align: center;
            &__img {
                max-width: 100%;
                max-height: 100%;
            }
        }
  
    }
    &__pagination{
        width: 100%;
        left:0px;
        bottom: -35px;
    }
}
.detail-info {
    width: 200px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 2;
    box-shadow: 0 0 5px $black_light;
    &__wrap {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}
.detail-nav{
    margin-bottom: 40px;
    &__ul{
        border-bottom:1px solid $gray;

        &__li{
            display: inline-block;
            margin-bottom: -1px;
            background: $white;
            
            color:$black_light;
            font-size: 15px;
            line-height: 21px;
            padding:10px 15px;
            text-align: center;
            transition:background 0.3s ease;
            border-bottom:1px solid $gray;
            &.active{
                border:1px solid $gray;
                border-bottom:1px solid transparent;
                &:hover{
                    background: $white;
                    cursor:default;
                }
            }
            &:hover{
                background: $gray;
                cursor:pointer;
            }
            i{
                margin-right: 5px;
            }
        }
    }
}
.detail-tabs-blocks{
    font-size: 15px;
    line-height: 22px;
    &__block{
        display: none;
        &.active{
            display: block;
        }
    }
}
.characteristic{
    &__table{
        width: 100%;
        &__tr{
            &__td{
                font-size: 14px;
                padding:30px 0px 0px;
                border-bottom:1px dotted $gray;
                position: relative;
                width: 50%;
                span{
                    bottom: -8px;
                    position: absolute;
                    background: $white;
                    
                }
                &:first-child{
                    text-align: left;
                    span{
                        font-family: FMulB;
                        padding: 0 15px 0 0;
                        padding-right: 7px;
                    }
                }
                &:last-child{
                    text-align: right;
                    span{
                        padding-left: 7px;
                        right: 0;
                    }
                }
            }
        }
    }
}
.detail-slider__thumb {
    height: 380px;
    padding: 15px;
    margin-left: 15px;
    &-img {
        max-width: 100%;
        max-height: 100%;
    }
    &-slide {
        text-align: center;
    }
}
.detail {
    &__btn {
        width: 200px;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    &__control {
        display: flex;
        justify-content: flex-end;
    }
}