.mainSlider{
    &__slider{
        &__slide{
            min-height:480px;
            background-size:cover;
            .container{
                height: 100%;
            }
        }
        &__overlay{
            height: 480px;
            background: rgba(0,0,0, .3);
        }
        &-prev,&-next{
            background-color: rgba(255,255,255,0.7);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: all 0.3s ease;
            background-image: none;
            text-align: center;
            line-height: 40px;
            color: $black_light;
            &:hover{
                background-color:$blue_hover;
                color: $white;
            }
        }
    }
}
.swiper__main-slide{
    &__wrap{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        flex-direction: column;
    }
    &-header{
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 25px;
        color:$white;
        font-family: FMulM;
        align-self: center;
    }
    &-sub{
        font-size: 20px;
        color:$white;
        text-align: center;
        margin-bottom: 30px;

    }
    &__btn-controll{
        text-align: center;
    }
}
.infoBlock{
    padding:60px;
    text-align: center;
    &-white{
        background: $white;
    }
    &-gray{
        background: $bg_gray;
    }
    &-image{
        padding:0px;
        background-size: cover;
    }
    &-overlay{
        background: $overlay;
        padding: 40px 0 20px;
    }
    &__title{
        font-size: 39px;
        font-family: FMulL;
        margin-bottom: 20px;
        line-height: 43px;
        font-weight: normal;
        &-black{
            color:$black;
        }
        &-white{
            color:$white;
        }
    }
    &__sub{
        font-size: 18px;
        line-height: 26px;
        max-width: 600px;
        margin: 0 auto 70px;
        &-black{
            color:$black;
        }
        &-white{
            color:$white;
        }
        &-fullWidth{
            max-width: 100%;
        }
        &-noMargin{
            margin-bottom: 0;
        }
    }
}
.cartList{
    display: flex;
    &__element{
        display: flex;
        flex-basis: 370px;
        max-width: 370px;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
        height:480px;
        border:1px solid $light_gray;
        margin-right: 30px;
        &:hover{
            .cartList__element__btn{
                background: $blue;
                color:$white;
                &-icon{
                    opacity: 0;
                }
                &:after{
                    transition:all 0.6s 0.3s ease;
                    right:-11px;
                    color: $blue;
                }
            }
        }
        &_min {
            height: 390px;
        }
        &:last-child{
            margin-right: 0px;
        }
        &__wrap{
            max-width: 100%;
            height:225px;
            padding-top: 10px;
            text-align: center;
            &__img{
                max-height:100%;
                max-width: 100%;
            }
        }
        &-first {
            height: 430px;
            overflow: hidden;
        }
        &__text{
            padding:26px 20px 12px;
            &__name{
                font-size: 22px;
                line-height: 32px;
                font-family: FMulM;
                text-align: left;
                color:$black;
                margin-bottom: 12px;
            }
            &__desc{
                font-size: 15px;
                line-height: 22px;
                text-align: left;
            }
        }
        &__btn{
            display: flex;
            position: relative;
            align-items: center;
            overflow: hidden;
            font-size: 16px;
            color:$blue_hover;
            height: 50px;
            font-family: FMulM;
            text-align: left;
            padding:0px 20px;
            transition:all 0.3s ease;
            &:after{
                content:"\f061";
                display: flex;
                position: absolute;
                right:-70px;
                justify-content: center;
                align-items: center;
                background:$orange;
                color:$black;
                width: 70px;
                height: 78px;
                border-radius: 50%;
                transition:none;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            &-icon{
                color:$blue_hover;
                transition:all 0.3s ease;
                margin-left:7px;
            }
        }
    }
}
.utpBlock{
    border-bottom:1px solid $light_gray;
    &__list{
        display: flex;
        &__utp.utp{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 25%;
            padding: 30px 15px 20px;
            box-sizing: border-box;
            height:260px;
            border-left:1px solid $light_gray;
            &:last-child{
                border-right:1px solid $light_gray;
            }
        }
    }
}
.utp{
    &__circle{
        margin: 0 auto;
        width: 110px;
        position: relative;
        height: 110px;
        background: $blue;
        border-radius: 50%;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after{
            content:"";
            position: absolute;
            display: block;
            top:97%;
            left:calc(50% - 15px);
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $blue;
        }
    }
    &__title{
        font-size: 21px;
        font-family: FMulM;
        line-height: 23px;
        margin-bottom: 10px;
    }
    &__desc{
        font-size: 15px;
        line-height: 22px;
    }
}
.infoBlock .cartList__element.list-slider__slide{
    border:none;
    margin-right: 0;
    flex-basis: auto;
    max-width: none;
}
.infoBlock__sub{
    &.small_margin{
        margin-bottom: 30px;
    }
}
.list-slider{
    &__slide{
        background: $white;
        transition:all 0.3s ease;
        &__text{
            &__name,&__desc{
                transition:all 0.3s ease;
            }
        }
    }
    &__controll{
        margin-top: 30px;
        position: relative;
    }
    &-next, &-prev {
        background-image: none;
        font-size: $size + 10;
        color: $black_light;
        line-height: 44px;
        transition: all 0.1s ease;
        &:hover {
            font-size: $size + 12;
        }
    }
}
.tileRectangle{
    display: flex;
    flex-wrap: wrap;
    &-block{
        display: flex;
        justify-content: space-between;
        width: 555px;
        margin-bottom: 40px;
        transition: all 0.4s ease;
        &:nth-child(2n){
            padding-left: 29px;
        }
        &:hover{
            transform: scale(1.05);
        }
        &__wrap{
            flex-basis: 180px;
            height:180px;
            &__img{
                max-height:100%;
                object-fit: cover;
            }
        }
        &__content{
            align-self: center;
            border: 5px solid rgba(0,0,0, .2);
            height: 140px;
            box-sizing: border-box;
            padding: 15px 20px 15px 30px;
            &__title{
                font-size: 22px;
                line-height:24px;
                margin-bottom: 10px;
                color:$white;
                text-align: left;
            }
            &__desc{
                font-size: 15px;
                line-height: 22px;
                color:$white;
                text-align: left;
            }
        }
    }
}
.producer-slider{
    &__slide{
        width: 165px;
        height: 165px;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        &__img{
            max-width: 80%;
            transition: all 0.3s ease;
            filter: grayscale(100%);
            &:hover{
                filter:none;
            }
        }
    }
    &__controll{
        margin-top: 30px;
    }
    &-next, &-prev {
        background-image: none;
        font-size: $size + 10;
        color: $white;
        line-height: 44px;
        transition: all 0.1s ease;
        &:hover {
            font-size: $size + 12;
        }
    }
}
.blockSendOrder{
    border: 5px solid rgba(0,0,0, .2);
    display: flex;
    background: rgba(0,0,0, .2);;
    &__text{
        text-align: left;
        font-size: 20px;
        color:$white;
        line-height: 29px;
        padding:30px;
        
    }
    &__btn{
        display: flex;
        font-size: 20px;
        background: rgba(21, 55, 80, 0.74);
        padding: 30px;
        min-width: 278px;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: FMulB;
        &__link{
            color:$white;
        }
    }
}
.map{
    height: 510px;
    &__container{
        margin-top: -510px;
        height: 510px;
        display: flex;
    }
    &__window{
        padding: 30px 40px;
        box-shadow: 0 0 20px rgba(0,0,0, .5);
        background: $white;
        max-width: 360px;
        box-sizing: border-box;
        align-self: center;
        &__title{
            font-size: 39px;
            color:$black;
            margin-bottom: 10px;
        }
        &__contact{
            margin-bottom: 25px;
            &__item{
                position: relative;
                font-size: 15px;
                margin-bottom: 15px;
                line-height: 22px;
                display: flex;
                align-items: center;
                &__text{
                    align-items: center;
                }
            }
            &__icon{
                min-width: 28px;
                min-height: 28px;
                background-repeat: no-repeat;
                background-position: center;
                padding-right: 15px;
            }
            &__location{
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIuSURBVEhLtZY/SBxBFMZXtAgaMd7bvb3dvXAgVmIllhYBIV0CEewCojuzisEijaQRGxGttbU1INhJ0iUgaRIwaSWNfyorBVMkRMV8e/s4kt1nZvfu/MHHcTvffPNn3w5jFaFcDl2f9HOf1JzvhNNeST913Zc93Nw+Agqf+Lb+GNjqJrD17d/CBH4GpLerTjjI9lZY7kLoZnoQSVj1L0xIc8em6AhI7UjhBr3m/sUIKHojhOXRdfwKOCYfcXGg42UqKL9IHSCmI0nLgUd6UQxKdOnb6gOK6DN+fwvtdXlONMZxZlB1+1IICuOd50U226xKaXYIzw/TvkRqnW1mMOBZJgDPBvqjPrY08Gw9kvFC2IFdtphBh+t0AN7LW27OgPbjrF/vc7MZvJvzbECxAbH9e9xsBrP7lg6It7TWN/WILQ0eUzSa8dalNthiBqvZkkLSRVPtnxnGs++iF2ct28wEpXBCCqmL1I/ks1BfsIor0YMz13XnyhxnxnHmHyZnoxSWQ6Q/cVR+4rIWw3Ko6qgFjslPfB5KYSZhohfxDnFMMbA1X6XQ/wkDrnH34lRL6oUUeqdQUDVnvsLdmyM+McRwQVjdEndrnuTDzl4tBJ3iG+3mbq2BMOM1w6fwGdtbJ646rPJEGqgunExsbR8+RePi1pI6IprpZVt7wXG2+u+AmEDR+0sxlrtQibifNla3wg33R6Uy7WCwY5y17y1rspMf3y9+7yuq1aYe8N8CWNYfnUXnaXSrJV4AAAAASUVORK5CYII=");
            }
            &__phone{
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFfSURBVEhL7Za9SwNBFMQPESzF7F6S+0CbFDY2WlgL1tailbAvGCGNYB0r29RiJVbW2tkICuJ/oIUgdinUTlA0Onv3jJDb3N6lsdmBX7NvZ2bvo1hvlCJBK6Gk21Cqj0jSd1HgeQYn9fqWz1F2xVVagOndFAjugqApZ6dbM2GFVg3zFEHXnteZ4Mh8hYK6xpA/nrDnAU//YpgNCCQtcmS+cLozbQiFOgqkWipDVKFleB8Tv6R1jswXis7TQmrxUilFQl1pfyxog5fy5QptcoUZuUKbXGFGrtAmV5jRvxXGvmrzUinpy9dYhThpL5LqogzwXsL7OV7hKATd4ymOse/NOGcKFyLw1BTA9Gu17areh8I9w3wA/oG1JNAmXP92TQG/BKI5z/sOTHONvtfO+Tv1JNCmRqM9BcONKUiD2Sv/GP3hWYr60ofmuKLqTMZCbeK1dMFhUfA59vXdlEOG5Hk/sqB+kzVFXnwAAAAASUVORK5CYII=");
            }
            &__email{
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHxSURBVEhL7ZQxLARBFIYXiQQR3IxbO7c5iYaohE5BQUckChEiEWdmQyO5Smj0KoVoNBKFRI1EiV6iu/YUEiRCQSGE/62bu929tc453b3kz+zM+9/7bmd2zqhGNcoO0S77EkyuVlxcpS3LacxhKKbqeo2pehoFk7swfFRMTD5jHCNKHtrV5rQAdJJbqIFh01dUpgSXjzZ3hohhcTmQ4HKPnl2ga2LyorNlvpXWEjG1FmzwKzF5a3HVT71sroYBe8JLHdG8AHSN6jIeXzRpHYYlGN99jUqSzAqW6nZ7cDmOPi+0Hg78UqajNdVJOWzFDIpeA/koZaw2J0m1NlOz3tooICSzFnN6KI/5mP6VkcLumOZSnGoEU8vB3fkBCPnOwRmicwj1kZg6pz7khW89zPMzEILpxjTnmshHcDS+K/aoY/3J43kimNcq5Q2fBXNGyMNYqplG2mbkrj2eA32HbTvdAAuuldzJ5z2KBnpgol0NYn4v+OI0zRMxaaN4C74V/aeB/CHWzgp3uRj6PTAIK5zdG5Q2jI1atxBBHwnyp7o2ChoO/B7mKVRXGLcFV/v47B+K8/Isd+4+aDGwBFipCoP6gQSLqVGa/xWmFYTmgbRYaZiWF2rH5CQx8lFpmJYH6o8kV1YyvtD1H9L3uBrVKCMM4xMNIUQSVP6NHAAAAABJRU5ErkJggg==");
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .cartList__element__wrap {
        height: auto;
    }
    .tileRectangle {
        justify-content: space-between;
        &-block {
            width: 500px;
            &:nth-child(2n) {
                padding-left: 0;
            }
        }
    }
    .infoBlock-gray .container {
        width: 95%;
    }
    .infoBlock-image .container {
        width: 95%;
    }
}

@media screen and (max-width: 1100px) {
    .tileRectangle {
        justify-content: center;
        &-block {
            width: 555px;
        }
    }
}

@media screen and (max-width: 1040px) {
    .utpBlock__list {
        flex-wrap: wrap;
        &__utp.utp {
            width: 50%;
            border-left: none;
            &:last-child {
                border-right: none;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .mainSlider__slider__overlay {
        height: 350px;
    }
    .mainSlider__slider__slide {
        min-height: 350px;
    }
    .cartList {
        flex-wrap: wrap;
        justify-content: center;
    }
    .infoBlock-white {
        padding: 20px;
        .container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 880px) {
    .blockSendOrder__btn {
        min-width: 200px;
    }
}

@media screen and (max-width: 650px) {
    .blockSendOrder {
        flex-direction: column;
    }
}

@media screen and (max-width: 630px) {
    .mainSlider__slider-prev,
    .mainSlider__slider-next {
        display: none;
    }
    .swiper__main-slide-header {
        font-size: 35px;
        line-height: 39px;
    }
    .utpBlock__list {
        &__utp.utp {
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {
    .tileRectangle-block__content {
        height: 160px;
    }
}

@media screen and (max-width: 500px) {
    .curcleWhiteBtn {
        margin-bottom: 10px;
    }
    .tileRectangle-block__wrap {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .infoBlock-gray {
        padding: 20px 10px;
    }
    .infoBlock__sub {
        margin: 0 auto 30px;
    }
}

@media screen and (max-width: 450px) {
    .blockSendOrder__btn {
        min-width: auto;
        font-size: 18px;
    }
    .infoBlock__title {
        font-size: 36px;
    }
}